@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

.font-primary {
  font-family: "Bebas Neue", sans-serif;
}

.font-secondary {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
