@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
};

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #FFFFFF;
    --color-secondary: #F9A51A;
    --color-accent: #000000;
    --color-accent-content: #C5C5C5;
    --color-neutral: #818181;
    --color-neutral-content: #F2F2F2;
    --color-base-100: #AAAAAA;
    --color-base-200: #D1D1D1;
    --color-base-300: #2B2B2B;
    --color-base-content: #ABABAB;
    --color-info-content: #6A6A6A;
}

.font-primary {
  font-family: "Bebas Neue", sans-serif;
}

.font-secondary {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}